
<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
    <br>
    <% @item.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
  </div>
<% end %>
</br>

<%= form_for @item, url: items_path, html: { :multipart => true } do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <% if @item.picture.exists? %>
      <%= image_tag @item.picture.url %><br/>
    <%= f.label :picture, "Attach a New Picture" %><br />
    <%= f.file_field :picture %>
  <% end %>
  <%= f.label :picture %>
  <%= f.file_field :picture %>

  <%= f.label :category_list %><br/>
  <%= f.text_field :category_list %>

  <%= f.submit "Create Item" %>
<% end %>
