<h1>Signup</h1>
<br>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <br>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
  </div>
<% end %>
</br>

  <%= form_for @user do |f| %>
    <%= f.text_field :name, placeholder: "Name" %><br>

    <%= f.text_field :email_address, placeholder: "Email" %><br>

    <%= f.text_field :username, placeholder: "Username" %><br>

    <%= f.password_field :password, placeholder: "Password" %><br><br>

    <%= f.submit %>
  <% end %>
