<h1>Shopping Cart</h1>
<br>
<br>
<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  <% @items.each do |item| %>
  <div class="product">
    <div class="product-image">
      <%= image_tag item.picture.url(:thumb) %><br>
    </div>
    <div class="product-details">
      <div class="product-title"><%= item.title %></div>
      <p class="product-description"><%= item.description %></p>
    </div>
    <div class="product-price"><%= item.price %> </div>
    <div class="product-quantity">
      <%= form_tag cart_path, method: :put do %>
        <%= select_tag :quantity, options_for_select((0..10), item.quantity) %>
        <%= hidden_field_tag :item_id, item.id %>
        <%= submit_tag "+/-" %>
      <% end %>
    </div>
    <div class="product-removal">
      <button class="remove-product">
        <%= link_to "Remove", cart_path(item_id: item.id), method: :delete %>
      </button>
    </div>
    <div class="product-line-price">
      <%= item.quantity * item.price %>
    </div>
  </div>
<%end %>
  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal"><%= @items.map { |item| item.price * item.quantity }.reduce(:+)%></div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">15.00</div>
    </div>
     </div>
      <% if current_user %>
        <span class="checkout"><%= button_to "Checkout", user_orders_path(current_user.id) %></span>
        <span class="checkout"><%= button_to "Clear Cart", cart_path, method: :post %></span>
      <% else %>
        <span class="checkout"><%= button_to "Checkout", login_path, method: :get %></span>
        <span class="checkout"><%= button_to "Clear Cart", cart_path, method: :post %></span>
      <% end %>
</div>
