<div class="centered">
  <% @category.items.each do |item| %>
    <span class="item">
      <%= image_tag item.picture.url(:medium) %><br>
      <%= item.title %><br>
      <%= item.description %><br>
      <%= item.price %><br>
      <%= button_to "Add To Cart", carts_path(item_id: item.id) %>
      <%= link_to "View Item", category_item_path(item.categories, item) %> <br>

      <%= link_to "Retire", items_retire_admin_item_path(item.id) %>
      <%#= link_to "Delete", admin_item_path(item), method: :delete %><br>
    </span>
  <% end %>
</div>
