<div class="centered">
  <%= image_tag @category.image.url(:medium) %><br>
  <%= @category.name %>

  <% @category_items.each do |item| %>
    <span class="item">
      <%= image_tag item.picture.url(:medium) %><br>
      <%= item.title %><br>
      <%= item.description %><br>
      <%= item.price %><br>
      <%= button_to "Add To Cart", carts_path(item_id: item.id) %>
      <%= link_to "View Item", item_path(item) %> <br><br>
    </span>
  <% end %>
</div>
