<!DOCTYPE html>
<html>
<head>
  <title>DinnerDash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= button_to "Checkout", carts_path %>
<%= flash[:notice] %> <br>
Total items: <%= @cart.count_all %>
<%= link_to "View Cart", cart_path %>

<%= yield %>

</body>
</html>
