<!DOCTYPE html>
<html>
<head>
  <title>DinnerDash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="navigation">
    <li class="nav-item"><a href="/categories">Categories</a></li>
    <li class="nav-item"><a href="/items">Items</a></li>
    <li class="nav-item"><a href="/carts">Cart</a></li>
    <li class="nav-item"><a href="/users/<%= params[:user_id]%>/orders">Orders</a></li>
    <li class="nav-item"><a href="/about">About</a></li>
    <% if current_user %>
      <li class="nav-item"><a href="/logout">Logout</a></li>
    <% else %>
      <li class="nav-item"><a href="/login">Login</a></li>
    <% end %>
  </ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>

  <div class="site-wrap">
<%= button_to "Checkout", carts_path %>
<%= flash[:notice] %> <br>
Total items: <%= @cart.count_all %>
<%= link_to "View Cart", cart_path %>

<%= yield %>
  </div>
</body>
</html>
